@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Days+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --logo-color:#FF0000;
    --font-size:14px;
    --bg-color: #FFFFFF;
    --color-black:#000000;
    --big-font: 2.5rem;
    --xfont-size: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Albert Sans", serif;
    width: 100%;
    height: 100vh;
 }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    height: 8%;
    position: sticky;
    z-index: 1;

}
.navigator{
    display: flex;
    gap: 3rem;
    list-style: none;  
}
.navigator li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size);
    color: var(--color-black);
    font-stretch: extra-expanded;
}
.logo .im{
    width: 43%;
    height: 22.5%;
    margin-left: 50px;
}
.linkdin .lin-img{
    width: 21%;
    height: 3%;
    margin-left: 50%;
}

.hero{
    background-image: url(./assets/airtel\ photo.png);
    background-position: center;
    background-size: top cover;
    background-repeat: no-repeat;
    height: 79vh;
}

.text-div{
    position: absolute;
    top: 15rem;
    left: 50px;
    color: white;
    line-height: 2.2rem;
}
.header{
    font-size: var(--big-font);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.paragraph{
    font-size: var(--xfont-size);
    padding: 4px 0;
}
.button-div button{
    background-color: #FFFFFF;
    border: none;
    width: 10rem;
    height: 2rem;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 6px;
}
.flags{
    width: 100%;
    height: 7rem;
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(7, 0.5fr); 
    place-content: center; 
    place-items: center;
}

.flag img{
    width: 70px;
    height: 40px;
    margin-top: 10px;
    padding-bottom: 10px;

}
 h3{
    padding-left: 85px;
    padding-top: 20px;
    color: red;
    font-size: 15px;
}
.h3-flag{
       background-color: #ddd;
       width: 100vw;
       height: 3rem;

}
h4{
    margin-left:18px ;
    color: red;
    font-size: 15px;
    font-weight: 400;
}
.thirdsec-div{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6 300px);
    place-content: center;
    line-height: 1.5rem;
    background-color: #FF0000;
    padding: 0% 50px;
    font-size: 13.5px;
    position: relative;
    height: 65vh;
    gap: 2rem;
 }
 p a{
    
    text-decoration: none;
    padding-left: 20px;
    
 }
  /* .hd .alink{
    position: absolute;
    left: 75px;
    top: 30px;
    padding-right: 50px;

 } */
 .our-service{
    justify-content: left;
 }
 .hb{
    
 }
